*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}




.music-player {
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}

.music-player p{
    font-size: 14px;
    color: #333;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: blue;
    line-height: 1;
    text-align: center;
  }
